* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background:#1b3e2b;
  color: #333;
}

header {
  height: 100vh;
  background: url('wpp.jpeg') no-repeat center center/cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

header .overlay {
  position: relative;
  z-index: 2;
  color: #fff;
}

header h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2em;
}

.gallery {
  padding: 40px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.gallery-item {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  background: #255b3c; /* hijau tua lebih terang */
  transition: transform 0.2s;
}


.gallery-item:hover {
  transform: scale(1.02);
}

.gallery-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.caption {
  padding: 10px 15px;
  font-size: 0.95em;
  color: #e0ffe4; /* hijau pucat terang agar kontras */
}
footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  color: #aaa;
}
